<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="cdc.001.01SOAP" closeTimeout="00:02:00" openTimeout="00:02:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
            messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647"
              maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None"
                realm="" />
          </security>
        </binding>
        <binding name="cdc.001.01SOAP1">
          <security mode="Transport" />
        </binding>
        <binding name="cdc.001.01SOAP2" />
      </basicHttpBinding>
      <customBinding>
        <binding name="cdc.001.01SOAPwss" receiveTimeout="00:10:00">
          <textMessageEncoding messageVersion="Soap11" />
          <security allowSerializedSigningTokenOnReply="true" authenticationMode="MutualCertificateDuplex"
              includeTimestamp="false" keyEntropyMode="ServerEntropy" messageProtectionOrder="EncryptBeforeSign">
            <localClientSettings detectReplays="false" />
          </security>
          <httpsTransport requireClientCertificate="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://ws.ingbusiness.pl/ing-ccs/cdc00101wss"
          behaviorConfiguration="devConfigurationBehaviorWss" binding="customBinding"
          bindingConfiguration="cdc.001.01SOAPwss" contract="IngBankService.cdcws00101Port"
          name="cdc.001.01SOAPwss">
        <identity>
          <dns value="pomocki" />
        </identity>
      </endpoint>
      <endpoint address="https://ws.ingbusiness.pl/ing-ccs/cdc00101"
          behaviorConfiguration="devConfigurationBehavior" binding="basicHttpBinding"
          bindingConfiguration="cdc.001.01SOAP" contract="IngBankService.cdcws00101Port"
          name="cdc.001.01SOAP">
        <identity>
          <dns value="ING Business Webservices" />
        </identity>
      </endpoint>
      <endpoint address="https://ws.ingbusiness.pl/ing-ccs/cdc00101"
          binding="basicHttpBinding" bindingConfiguration="cdc.001.01SOAP1"
          contract="IngBankService.cdcws00101Port" name="cdc.001.01SOAP1" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="devConfigurationBehavior">
          <clientCredentials>
            <clientCertificate findValue="41e3418a41d4cd4141dc4a6b1b4f503649f8ee72" x509FindType="FindByThumbprint" storeLocation="CurrentUser" storeName="My" />
          </clientCredentials>
        </behavior>
        <behavior name="devConfigurationBehaviorWss">
          <clientCredentials>
            <!--<clientCertificate findValue="c5edbd33a19781539275f3168a6e05ad6485f38f"
            x509FindType="FindByThumbprint" storeLocation="CurrentUser" storeName="My" />
            <serviceCertificate>
              <defaultCertificate findValue="3a9244a55950c92497720580826934dbea80a956"
              storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" />
              <authentication certificateValidationMode="PeerOrChainTrust" />
            </serviceCertificate>-->
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>